<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfx.demo.mapper.OneSMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zfx.demo.entity.OneS">
        <id column="id" property="id" />
        <result column="name_s" property="nameS" />
        <result column="value_s" property="valueS" />
        <result column="long_s" property="longS" />
        <result column="city_s" property="cityS" />
        <result column="city_value" property="cityValue" />
        <result column="city_sa" property="citySa" />
        <result column="city_valuea" property="cityValuea" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name_s, value_s, long_s, city_s, city_value, city_sa, city_valuea
    </sql>

</mapper>
