<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfx.demo.mapper.OneZMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zfx.demo.entity.OneZ">
        <result column="id" property="id" />
        <result column="wave_X" property="waveX" />
        <result column="wave_Y" property="waveY" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, wave_X, wave_Y
    </sql>

</mapper>
